.custom-hero-banner {
    text-align: center;
    color: purple;
}

body {
    margin-top: 0;
    background-color: #fff !important;
    font-family: 'Raleway', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: normal;
}

.categories {
    background-color: #fff !important;
    margin-top:10px !important;
}

.jumbotron .jumbotron-inner {
    background: transparent;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Raleway', sans-serif !important;
    font-weight: normal;
}

.top-nav .header .logo a {
    font-weight: normal;
}

// .menu-contents{
//      padding: 0;
//      margin: 0;
//  .menu-item {
//     margin: 0px !important;
//     a.item{
//     }
// }
// }
// .post-heading {
//  .post-title {
//     font-weight: normal;
//     transition: all .12s ease;
//     display: block;
//     font-weight: 800;
//     line-height: 1.2;
//     font-size: 3rem !important;
//     color: white;
//     text-transform: uppercase;
//     text-align: center;
// }
// }
.top-nav .header {
    height: 70px !important;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
    -ms-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
    background-color: #fff !important;
    margin-bottom: 0;
    .header-submodule {
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin-right: 20px;
        color: #101010;
        font-weight: 500;
    }
    .logo {
        text-align: left;
        flex: 1;
        order: 1;
        a {
            color: #101010 !important;
            font-size: 1.5rem;
        }
    }
}

.top-nav .header .secondary-nav {
    flex: 2;
}

.item-search {
    width: 54%;
    .input {
        width: 90%;
    }
}

.search.empty .search-field {
    /*max-width: 370px;*/
}

.search .search-field {
    /* max-width: 370px;*/
}

.ui.secondary.menu {
    height: 60px;
    background-color: #00b5ad !important;
    margin-bottom: 10px !important;
    .item {
        border-radius: 0px !important;
        color: #fff;
        padding: 1.65rem !important;
        margin: 0em 0em !important;
        &:hover {
            color: #00b5ad !important;
            background: #fff !important;
            transition: all .3s;
        }
    }
}

.logo-image a,
.logo-image img {
    width: auto;
}

.item.active {
    color: #00b5ad !important;
    background: #fff !important;
    transition: all .3s;
}

.post {
    border-radius: 0px;
    margin-bottom: 0px;
    border-bottom: none;
    position: relative;
    width: 100%;
    background: white;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0px 0px -1px 2px #ccc;
    border-bottom: none;
    /*box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    margin: 5px 0px;*/
    box-shadow: none;
    margin: 0;
    &:hover {
        background: rgba(97, 202, 238, 0.08);
        transition: all .3s;
        cursor: pointer;
        .post-title {}
    }
}

.post-categories {
    display: block;
    margin-left: 0px;
    a.post-category {
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
        padding: 2px 4px 1px;
        color: #bbbbbb;
        font-size: 10px;
        font-weight: 600;
        text-transform: uppercase;
        border: 2px solid rgba(187, 187, 187, 0.5);
        border-radius: 4px;
        white-space: nowrap;
        display: inline-block;
        margin-right: 5px;
        margin-top: 5px;
        background-color: transparent;
    }
}

.post-vote {
    .vote-actions {
        border: none;
    }
}

legend {
    padding: 0.2em 0.5em !important;
    border: 1px solid #B5B0B0 !important;
    color: green;
    font-size: 1rem;
    /* text-align: right; */
    margin: 10px;
}

.af-fieldgroup-heading {
    display: block;
    width: auto;
    /* padding-bottom: 5px; */
    /* margin-bottom: 15px; */
    /* border-bottom: 1px solid #B5B0B0; */
    color: #b3c1c6;
}

.af-fieldgroup-heading {
    display: block;
    width: auto;
    /* padding-bottom: 5px; */
    /* margin-bottom: 15px; */
    border-bottom: 1px solid #B5B0B0;
    color: #b3c1c6;
}

.af-fieldgroup-heading,
.af-fieldGroup-heading {
    display: block;
    width: auto;
    padding-bottom: 5px;
    margin-bottom: 15px;
    color: #fff;
    font-size: 20px;
    border: none;
}

fieldset {
    border: none !important;
    margin: 5px 2px !important;
    padding: 0.35em 0.625em 0.75em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border: none;
    padding: 20px !important;
    margin: 15px 0 !important;
}

legend {
    padding: 0.2em 0.5em !important;
    border: none !important;
    background-color: #61CAEE;
    width: 30%;
    color: #fff;
    position: relative;
    top: 19px;
    left: -30px;
}

.form-group .controls input,
.form-group .controls textarea {
    border: 1px solid #E0E0E0;
}

.hero {
    background: url("/images/hero-bg.png") repeat scroll 0 0 #31C7FB !important
}

a.post-category:hover {
    border-color: #2196F3;
    color: #2196F3;
    transition: all .5s;
}

.post-module.post-rank {
    margin: 0;
    position: relative;
    left: 16px;
}

.post-rank-inner {
    .ui.red.labels .label,
    .ui.red.label {
        background-color: #FFFFFF !important;
        border-color: #151414 !important;
        color: #2196F3 !important;
        box-shadow: -3px 0 5px 0px #F1F1F1;
        display: none;
    }
}

.posts-list .post-module {
    margin-left: 15px;
}

.post-vote .downvote-link {
    border: none;
}

.vote-action {
    border: none;
    i.icon,
    i.icons {
        font-size: 2em;
    }
}

.post-vote .upvoted .upvote-link {
    color: #2196F3;
}

.post-share {
    order: 3;
    color: #48A8F5;
    transition: all 1s;
}

.post:hover {
    .post-share {
        display: none;
    }
}

.post-heading .post-title {
    font-size: 1.4rem;
    font-weight: normal;
    color: black;
}

.post-heading .post-title:visited {
    color: #000;
}

.posts-list .post-discuss {
    padding-right: 30px;
}

.post-discuss .icon-comment {
    font-size: 16px;
}

.post-discuss .action-count {
    top: 5px;
    font-size: 16px;
    right: -24px;
}

.post-list-title.category-title {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    border-bottom: solid 5px #2196F3;
    margin-bottom: 20px !important;
}

.post-content .post-thumbnail-link {
    border-radius: 3px;
    height: 90px;
    width: 130px;
    margin-right: 10px;
    position: relative;
}

.post-thumbnail-image.custom-image {
    -webkit-object-fit: scale-down;
    -moz-object-fit: scale-down;
    -ms-object-fit: scale-down;
    object-fit: scale-down;
    border-radius: 0.5125em !important;
}

.footer {
    padding: 0;
    .blue {
        background-color: rgb(46, 186, 232) !important;
    }
}

.footer-copyright {
    .icon {
        font-size: 2.3rem;
    }
}

.text-justify {
    text-align: justify;
}

.footer-heading {
    padding-bottom: 20px;
    border-bottom: solid 2px #fff;
    margin-bottom: 10px !important;
}

.post-avatars .avatar,
.user-menu .avatar {
    height: 32px;
    width: 32px;
}

.footer li {
    font-size: .8rem;
}

input[type="submit"],
.button,
.auth-buttons #login-buttons #login-buttons-password,
.btn-primary,
.header .btn-primary,
.header .btn-primary:link,
.header .btn-primary:visited,
.error,
.mobile-menu-button,
.login-link-text,
.post-category:hover {
    background-color: #61CAEE !important;
}

span.menu-items-toggle {
    i.icon {
        display: none;
    }
}

form .control-group>label,
form .form-group>label,
form .at-input>label,
.accounts-dialog .control-group>label,
.accounts-dialog .form-group>label,
.accounts-dialog .at-input>label {
    font-weight: normal;
    display: block;
    font-size: 1rem;
}

a:hover,
.post-content .post-heading .post-title:hover,
.upvoted .upvote-link,
.downvoted .downvote-link,
.upvoted .upvote,
.downvoted .downvote,
.toggle-actions-link,
.post-meta a:hover,
.action:hover,
.post-actions .icon {
    color: #2C82C4 !important;
}

li.menu-item:hover {
    background-color: rgba(97, 202, 238, 0.15);
    transition: all .2s;
}

.menu-dropdown .menu-menu .menu-contents {
    background: white;
    padding: 0;
    min-width: 180px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    list-style-type: none;
    .menu-item {
        padding: 5px 10px;
    }
}

a,
a:link,
a:visited,
a:active {
    font-weight: normal
}